* {
    text-align: center;
    background-color: rgb(157, 199, 42);
    font-family:'Courier New', Courier, monospace
}

.heading {
    border: 5px;
    border-color: black;
    border-style: solid;
}

